body{
    background: black;
    margin: 0 auto;
}

.dalkur1{
    height: 100vh;
    border: 3px solid red;
    text-align: center;
    color: red;
    list-style: none;
}

.dalkur2{
    height: 75vh;
    border: 3px solid red;
    color: red;
}

.box3{
    text-align: center;
    font-weight: bold;
    text-decoration: overline;
}

a{
    text-decoration: none;
    border: 3px solid red;
    border-radius: 50px;
    color: red;
    margin: 1em;
    padding: 1em;
    box-shadow: 0 0 15px red;
}


.box1{
    text-decoration: overline red;
    border-radius: 50px;
    margin: 3em;
}

.texti1{
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    margin: 3em;
    border: 3px solid red;
    height: 25em;
    width: auto;
    background-image: url(fallguys2.png.png);
    border-radius: 50px;
    box-shadow: 0 0 15px red;
}

.texti1{
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    height: 15em;
    border-bottom: red 3px solid;
    width: auto;
    background-image: url(fallguys2.png.png);
}

.texti3{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-weight: bold;
    column-gap: 3em;
    margin: 3em;
    
}

.texti4{
    display: block;
    margin: 0 auto;
    margin-top: 100px;
    width: 400px;
    transform: rotate(45deg);
    overflow: hidden;
}

.nymynd{
    max-width: 100%;
    transform: rotate(-45deg) scale(1.42);
    width: auto;
    height: 8em;
    border: 3px solid red;
    box-shadow: 0 0 15px red;
}

.linan{
    border-bottom: 3px solid red;
}

.linatexti{
    text-decoration: underline;
    color: red;
}

.umtexta{
    font-weight: bold;
    margin: 5em;
}

.video{
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    text-align: center;
    height: 26em;
    width: 99vh;
    box-shadow: 0 0 15px red;
    border-bottom: 3px solid red;
}


.box2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    column-gap: 3em;
    margin: 3em;
    font-weight: bold;
}

.mynd{
    height: 15em;
    width: auto;
    background-image: url(fallguys2.png.png);
    border: 3px solid red;
    border-radius: 50px;
    box-shadow: 0 0 15px red;
}

.mynd2{
    height: auto;
    width: auto;
    background-image: url(fallguys2.png.png);
    box-shadow: 0 0 15px red;
    border-bottom: 3px solid red;
}

.glow {
    font-size: 2em;
    color: red;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
}


.dalkur3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px black, 0 0 20px black, 0 0 30px  red, 0 0 40px red, 0 0 50px red, 0 0 60px red, 0 0 70px red;
    }
    
    to {
      text-shadow: 0 0 20px red, 0 0 30px red, 0 0 40px black, 0 0 50px black, 0 0 60px red, 0 0 70px red, 0 0 80px black;
    }
  }


@media screen and (max-width: 40em){
    .texti3{
        display: grid;
        grid-template-columns: 1fr;
    }
    .box2{
        display: grid;
        grid-template-columns: 1fr;
    }
    .mynd{
        display: none;
    }
    .video{
        display: flex;
        height: 100%;
        width: 100%;
    }
    .mynd2{
        display: none;
    }
    .dalkur3{
        display: grid;
        grid-template-columns: 1fr;
    }
    li{
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 60em){

}